html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #333;
    color: #e2e2e2;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

input[type=search] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.jumbotron {
  background: #21b077;
  color: white;
  padding: 48px 0 80px;
  margin-bottom: 30px;
  text-align: center; }
  .jumbotron h1 {
    font-size: 63px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
  }
  .jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }

.toolbar {
    background: #21b077;
    color: white;
    padding: 12px 8px;
    position: fixed;
    top: 0;
    height: 48px;
    width: 100%;
    z-index: 2;
    display: flex;
}
.toolbar h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    flex: 1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
.toolbar > * {
    flex: 0;
}
.toolbar > *:first-child {
    flex: 1;
}
.toolbar > p {
    white-space: nowrap;
    margin: 4px 8px;
}

.container {
    margin: 0 30px;
}

.loading {
    width: 100%;
    color: white;
    margin-top: 10%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.loading-spin::before {
    content: "";
    border: 10px dotted rgb(32,128,32);
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px auto;
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

.loading-slide::before {
    content: "";
    background: rgb(32,128,32);
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: 10px auto;
    animation: slide-over 2s infinite;
}

@keyframes slide-over {
    from {
        transform: translate(-20px);
    }

    50% {
        transform: translate(20px);
    }

    to {
        transform: translate(-20px);
    }
}

ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 3px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 2px black;
}

li p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-decoration: none;
    background: rgba(0,0,0,0.3);
    text-align: left;
    margin: 0;
    padding: 0 3px;
    height: 0;
    transition: height 0.25s;
}

li:hover p {
    height: 24px;
    padding: 3px;
}

.toast {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
.toast p {
    background: #212121;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding: 8px 16px;
    min-width: 200px;
    display: inline-block;
    margin: 0;
    text-shadow: 1px 1px rgba(0,0,0,0.7);
}
